ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

ul {
    display: flex;
}

.spacer {
    flex: 1 1 auto;
}

.header-bg {
    background-color: #4267b2;
}

.selected-btn {
    color: #f4e2cb;
}