<header class="header-bg">
    <div class="container-fluid">
        <nav class="container navbar navbar-expand-sm">
            <a class="navbar-brand" href="">
                <img src="../../assets/logo1.png" style="height: 60px;" />
            </a>
            <ul class="navbar-nav">
                <li class="nav-item" *ngIf="userIsAuthenticated">
                    <a mat-button routerLink="/profile" routerLinkActive="selected-btn">My Profile</a>
                </li>
                <li class="nav-item" *ngIf="userIsAuthenticated">
                    <a mat-button routerLink="/home" routerLinkActive="selected-btn">Home</a>
                </li>
                <li class="nav-item" *ngIf="userIsAuthenticated">
                    <a mat-button routerLink="/create" routerLinkActive="selected-btn">Share / Request</a>
                </li>
                <li class="nav-item">
                    <a mat-button routerLink="/auth/login" routerLinkActive="selected-btn" *ngIf="!userIsAuthenticated">Login</a>
                </li>
                <li class="nav-item" *ngIf="!userIsAuthenticated">
                    <a mat-button routerLink="/auth/signup" routerLinkActive="selected-btn">Signup</a>
                </li>
            </ul>
            <span class="spacer"></span>
            <ul>
                <li *ngIf="userIsAuthenticated">
                    <button mat-button (click)="onLogout()">Logout</button>
                </li>
            </ul>
        </nav>
    </div>
</header>