mat-form-field {
    width: 100%;
}

mat-spinner {
    margin: auto;
}

.captchaStyle {
    margin-top: 20px;
}

.card-design {
    border: 1px solid #dddfe2;
    border-radius: 3px;
}

.bg-white {
    background: white;
}