<div class="container">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <section class="my-col" *ngIf="!isLoading">
        <div class="row">
            <div class="col-sm-12 p-2 ml-3 card-design bg-white">
                <h4 class="p-15 text-center" style="padding-top: 5px;">Due to COVID-19, situation calls for Statutory help, Contribute to the needy and raise request for your needs </h4>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-4 p-4 my-3 card-design bg-white">
                <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">

                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Select Post Type</mat-label>
                            <mat-select formControlName="postType">
                                <mat-option *ngFor="let request of requestList" [value]="request">
                                    {{request}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.get('postType').invalid">Please select Request Type</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field>
                            <input matInput type="text" (keypress)="omit_number($event)" formControlName="title" placeholder="Post Title">
                            <mat-error *ngIf="form.get('title').invalid">Please enter a post title.</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field>
                            <textarea matInput rows="4" (keypress)="omit_number($event)" formControlName="content" placeholder="Post details with contact"></textarea>
                            <mat-error *ngIf="form.get('content').invalid">Please enter details</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <div>
                            <button type="button" mat-raised-button (click)="filePicker.click()">Pick Image</button>
                            <input type="file" #filePicker (change)="onImagePicked($event)">
                        </div>
                    </div>
                    <div class="text-center">
                        <button mat-raised-button type="submit" style="background-color:#4267b2;color:white">Save Post</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-4 p-4 my-3 ml-3 mr-auto card-design bg-white" *ngIf="form.valid">
                <div class="card">
                    <h4 class="card-title">Post Preview</h4>
                    <div class="card-body">
                        <h4 class="card-title">{{form.value.title}}</h4>
                        <p class="card-text">{{form.value.content}}</p>
                    </div>
                    <img class="card-img-bottom" [src]="imagePreview" alt="Card image" style="width:100%" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
                </div>
            </div>
        </div>
    </section>
</div>